<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ELECTEC</title>
    <link rel="stylesheet" href="style/index.css">
</head>
<body>
    <header>
        <img src="images/logo.png" alt="ELECTEC">
    </header>
    <div class="center">
        <div id="meta">
            <button id="btnmeta" class="btns">Connect to metamask</button>
            <p id="para">No account detected</p>
        </div>

        <div id="voteCont">
            <p id="votePlace">Metamask Not Connected</p>
            <form id="voteForm">
                
                <!-- <input class="btns"type="submit" value="Submit"> -->
              </form>
        </div>

    </div>

    
    <script src="/scripts/script.js"></script>
</body>
</html>